@font-face {
    font-family: 'main-font';
    src:  url('./fonts/Rabar_014.ttf')  format('truetype');
}
body{
    font-family: 'main-font';
    direction: rtl;
}
header{
    text-align: center;
    padding: 20px;
}
.container{
    margin-right: 20%;
    margin-left: 20%;
}
h1,h2{
    text-decoration: underline;
}
a{
    font-weight: bold;
}
p{
    font-size: 18px;
    line-height: 2;
    word-spacing: 5px;
}
.small-p{
    font-size: 16px;
    color: #505050;
}
.footer{
    text-align:center;
}