@font-face {
    font-family: 'main-font';
    src:  url('./fonts/Vazir.woff2')  format('woff2');
}
@media only screen and (max-width: 768px) {
    .container{
        margin-right: 10px !important;
        margin-left: 0 !important;
    }
}
body{
    font-family: 'main-font';
    direction: rtl;
}
header{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.container{
    margin-right: 20%;
    margin-left: 20%;
}
h1,h2{
    text-decoration: underline;
}
h2{
    font-size: 20px;
}
a{
    font-weight: bold;
}
p{
    font-size: 18px;
    /* line-height: 2; */
    /* word-spacing: 5px; */
}
.small-p{
    font-size: 16px;
    color: #505050;
}
.footer{
    text-align:center;
}